body{
    font-family: sans-serif;
    text-align: justify;
}

header {
    background-color:rgb(163, 162, 162);
    text-align: center;
}

footer{
    font-style: initial;
}
header h1 {
    color: white;
}

a.link {
    color: rgb(46, 48, 48);
    font-weight: bold;
    text-transform: uppercase   ;
}
footer{
    background-color:rgb(148, 146, 146);
    color: white;
    text-align: center;
}
